.vertical-timeline::before {
    background:#FFD800;
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #FFD800, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    opacity: 1;
    color: #ffffff;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  width: auto;
}

.svg-inline--fa.fa-w-20 {
  margin-left: -23%;
}

.filter-buttons-container {
  max-width: 1170px;
  margin: 0px auto;
  position: relative;
}

.filter-button {
  margin-left: 2%;
  margin-top: 2%;
  padding-left: 0%;
  width: 22.5%;
  padding-right: 0%;
}

@media only screen and (max-width: 1169px) { 
    .vertical-timeline-element-content .vertical-timeline-element-date {
        color: #222222;
    }

    .svg-inline--fa.fa-w-20 {
      margin-left: -35%;
    }
}