.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0f0f0f;
    height: 80px;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.spacer {
    flex: 1;
}

.toolbar_logo {
    margin-left: 2rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_logo img {
    height: 50px;
    width: 50px;
}

.toolbar_nav_items ul {
    list-style: none;
    padding: 4%;
    display: flex;
    background-color: #444444;
    border-radius: 30px;
}

.toolbar_nav_items li {
    padding: 0 0.5rem;
}

.toolbar_nav_items a {
    color: white;
    text-decoration: none;
}

.toolbar_nav_items a:hover, 
.toolbar_nav_items a:active {
    color: #FFD800;
}