.about-wrapper {
    margin-left: 300px;
    border: 1px solid purple;
}

@media only screen and (min-width: 1170px) {
    .about-wrapper {
        margin-left: 300px;
        border: 1px solid purple;
        min-height: 350px;
    }
}

.about-foto {
    height: 350px;
    width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border: 1px solid red;

}

@media only screen and (max-width: 1169px) {
    .about-foto {
        height: 200px;
        width: 200px;
    }

    .about-wrapper {
        /* height: 200px; */
        margin-left: 10px;
        min-height: 200px;
    }
}

.about-tekst {
    color: white;
    border: 1px solid #06e3f5;
    max-width: 1200px;
}

.about-header {
    color: white;
    border: 1px solid #73ff00;
    display: flex;
    margin-bottom: 2px;
}