.about-wrapper {
    margin-left: 300px;
}

@media only screen and (min-width: 1170px) {
    .about-wrapper {
        margin-left: 300px;
        min-height: 350px;
    }
}

.about-foto {
    height: 350px;
    width: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    float: left;

}

@media only screen and (max-width: 1169px) {
    .about-foto {
        height: 200px;
        width: 200px;
    }

    .about-wrapper {
        margin-left: 10px;
        min-height: 200px;
    }
}

.about-tekst {
    color: white;
    max-width: 1200px;
    display: inline-block;
    line-height: 150%;
}

.about-header {
    color: #FFD800;
    display: flex;
    margin-bottom: 2px;
    padding-top: 4%;
}